---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "~layouts/BaseLayout.astro";
import PostCard from "~components/PostCard.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];

	return uniqueTags.flatMap((tag) => {
		const filteredPosts = allPosts
			.filter((post) => post.data.tags.includes(tag) && !post.data.draft && new Date(post.data.date) <= new Date())
			.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());

		return {
			params: { tag },
			props: { posts: filteredPosts }
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const title = `Статьи с тэгом «${tag}»`;
const description = `Статьи с тэгом «${tag}»`;
---

<BaseLayout
	{title}
	{description}
	sidebar={false}>
	<div class="mx-auto my-8 w-full max-w-4xl px-2">
		<div class="prose mx-auto text-center font-serif md:prose-lg sm:px-0">
			<h1>{description}</h1>
		</div>

		<div class="mt-12 flex flex-col">
			{posts.flatMap((post: CollectionEntry<"posts">) => <PostCard post={post} />)}
		</div>
	</div>
</BaseLayout>
