---
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/consts';
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<meta name="google-site-verification" content="LSeuVDW68_g3k-l9Y1RsmQH3XjR5TZ_Vg3t9ifvaayE" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} | {SITE_TITLE}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL('/og.jpg', Astro.url)} />
