---
import HeaderLink from '~components/HeaderLink.astro';
import Socials from '~components/Socials.astro';
import { SITE_NAVIGATION, SITE_TITLE } from '../consts';
---
<meta name="google-site-verification" content="LSeuVDW68_g3k-l9Y1RsmQH3XjR5TZ_Vg3t9ifvaayE" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ND6YW3GY5W"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-ND6YW3GY5W');
</script>

<header class="my-4 w-full sm:my-6">
	<div class="flex flex-col items-center gap-2 md:flex-row">
		<a href="/" class="flex flex-1 items-center gap-2">
			<img src="/images/decoration/logo-small.webp" alt={SITE_TITLE} class="h-14 w-14" />
			<h2 class="font-serif text-lg font-bold text-brand-ivory sm:text-xl">
				{SITE_TITLE}
			</h2>
		</a>

		<Socials />
	</div>
	<nav class="mt-4 hidden w-full flex-wrap justify-evenly gap-4 rounded-md bg-brand-mist px-4 py-2 text-base sm:flex">
		{SITE_NAVIGATION.map((item) => <HeaderLink href={item.href}>{item.label}</HeaderLink>)}
	</nav>
	<nav class="mb-0 mt-4 flex justify-center pb-0 sm:hidden">
		<details>
			<summary class="rounded bg-brand-ivory px-4 py-1 text-sm font-medium uppercase text-brand-night"
				>Навигация</summary
			>
			<div class="mt-2 flex flex-col gap-2">
				{SITE_NAVIGATION.map((item) => <HeaderLink href={item.href}>{item.label}</HeaderLink>)}
			</div>
		</details>
	</nav>
</header>
