---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '~components/FormattedDate.astro';
import placeholder from '~assets/branding/placeholder.webp';

interface Props {
	post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<div class="prose mb-6 flex w-full max-w-none flex-col items-center font-serif sm:prose-lg sm:flex-row">
	<a href={`/posts/${post.slug}`} class="w-full sm:w-64 sm:min-w-max">
		{
			post.data.cover ? (
				<Image
					height={512}
					quality={'mid'}
					src={post.data.cover}
					alt={post.data.title}
					class="!m-0 h-64 w-full rounded-md object-cover object-center sm:aspect-square sm:w-64 sm:min-w-max"
				/>
			) : (
				<Image
					height={512}
					quality={'mid'}
					src={placeholder}
					alt={post.data.title}
					class="!m-0 h-64 w-full rounded-md object-cover object-center sm:aspect-square sm:w-64 sm:min-w-max"
				/>
			)
		}
	</a>
	<div class="mt-4 sm:ml-6 sm:mt-0">
		<a href={`/posts/${post.slug}`} class="no-underline"><h2 class="!my-1">{post.data.title}</h2></a>
		<span class="font-sans text-base text-brand-gold">{post.data.author}, <FormattedDate date={post.data.date} /></span>

		<div class="not-prose flex flex-wrap">
			{post.data.tags.sort().flatMap((tag) => <a href=`/tags/${tag}` class="tag">{tag}</a>)}
		</div>

		<p>
			{post.data.description}<span>&nbsp;</span>
			<a href={`/posts/${post.slug}`}>Читать &rarr;</a>
		</p>
	</div>
</div>
