---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
//import FormattedDate from '~components/FormattedDate.astro';

import { SITE_FRIENDS } from '../consts';

export interface Props {
	headings?: { depth: number; slug: string; text: string }[];
	links?: { label: string; href: string }[];
}

const { headings, links } = Astro.props;

const posts = (await getCollection('posts'))
	.filter((post) => !post.data.draft && new Date(post.data.date) <= new Date())
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 6);
---

<aside class="px-2 sm:px-0 xl:max-w-xs">
	{
		headings && headings.some((heading) => heading.depth === 2 || heading.depth === 3) && (
			<div class="my-6 hidden xl:block">
				<h2 class="mb-4 text-center font-bold uppercase text-white">На этой странице</h2>
				<ul class="list-none text-sm">
					{headings
						.filter((heading) => heading.depth === 2 || heading.depth === 3)
						.flatMap((heading) => (
							<li class="py-1">
								<a href={`#${heading.slug}`} class="hover:underline">
									<span class={heading.depth === 2 ? 'text-brand-crimson' : 'text-brand-wave'}>#</span>
									<span class={heading.depth === 2 ? 'font-semibold uppercase' : ''}>{heading.text}</span>
								</a>
							</li>
						))}
				</ul>
			</div>
		)
	}

	{
		links && (
			<div class="my-6 hidden xl:block">
				<h2 class="mb-4 text-center font-bold uppercase text-white">Полезные ссылки</h2>
				<ul class="list-disc text-sm">
					{links.flatMap((link) => (
						<li class="py-1">
							<a href={link.href}>{link.label}</a>
						</li>
					))}
				</ul>
			</div>
		)
	}

	<div>
		<h2 class="mb-4 text-center font-bold uppercase text-white">Новые статьи</h2>

		<div class="not-prose grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-1">
			{
				posts.flatMap((post) => (
					<a
						href={`/posts/${post.slug}`}
						class="group mb-1 flex flex-col gap-1 rounded-md bg-brand-mist p-2 ring-2 ring-transparent hover:ring-brand-gold"
					>
						{post.data.cover && (
							<Image
								height={600}
								format={'webp'}
								quality={'mid'}
								src={post.data.cover}
								alt={post.data.title}
								class="aspect-video h-48 w-full rounded-md object-cover object-center md:h-32"
							/>
						)}

						<div>
							<h3 class="font-sans text-base font-medium text-white">{post.data.title}</h3>

							<p class="line-clamp-4 font-serif text-base">{post.data.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</div>

	<div class="my-6 hidden xl:block">
		<h2 class="mb-4 text-center font-bold uppercase text-white">Наши друзья</h2>
		<ul class="list-disc">
			{
				SITE_FRIENDS.flatMap((friend) => (
					<li class="flex items-center py-1 hover:text-brand-wave hover:underline">
						<img src={friend.favicon} class="mr-2 h-6 w-6" />
						<a href={friend.href} target="_blank">
							{friend.label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</aside>
